@import "partials/config";
@import "common/grid";
@import "common/reset";
@import "modules/main-content";
@import "modules/icon-bar";

body {
    background: #F5F5F5;
    font-family: 'PT Serif', Arial, serif;
    //@media screen and (max-width: 460px){
    //    overflow-x: hidden;
    //}
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @media screen and (max-width: 460px){
        text-align: center;
    }
}

html {
    font-size: 16px;
    @media only screen and (max-width: 300px) {
        font-size: 10px
    }
}

.main-block {
    display: flex;
    justify-content: center;
}
